# Ambiente Virtual (Pasta pesada que não precisa ir para o Git)
.venv/
venv/
env/

# Arquivos de Configuração Sensíveis (ONDE ESTÁ SUA CHAVE!)
.env

# Arquivos temporários do Python
__pycache__/
*.py[cod]
*$py.class

# Arquivos de Sistema
.DS_Store
Thumbs.db

# Relatórios e Bases gerados (Opcional: se não quiser subir seus testes)
relatorio_final.md
base_conhecimento.json